In [9]:
#!pip install celltypist

In [10]:
import scanpy as sc
import pandas as pd
import celltypist
import numpy as np
from scipy import sparse

In [11]:
Triana_AML = sc.read('Triana_datasets/Triana_AML.h5ad')

In [12]:
Triana_AML.obs

,orig.ident,nCount_RNA,nFeature_RNA,nCount_AB,nFeature_AB,nCount_BOTH,nFeature_BOTH,Batch,ClusterID,Sample_Tag,Sample_Name,CellTypes,cDC,B.cells,Myelocytes,Erythroid,Megakaryocte
645636_1,SeuratProject,8686.0,271,9164.0,97,17850.0,368,AML1,8,NA,NA,0,3.835037,3.045292,3.846212,NaN,NaN
396386_1,SeuratProject,8186.0,253,5696.0,96,13882.0,349,AML1,8,NA,NA,0,4.628179,NaN,4.689549,NaN,NaN
388968_1,SeuratProject,7103.0,261,2623.0,95,9726.0,356,AML1,8,NA,NA,0,4.042680,NaN,4.059543,NaN,NaN
836004_1,SeuratProject,6703.0,247,4382.0,94,11085.0,341,AML1,2,NA,NA,0,4.608414,3.860729,4.674518,NaN,NaN
861250_1,SeuratProject,6774.0,234,6151.0,94,12925.0,328,AML1,6,NA,NA,1,7.502024,NaN,7.939877,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297857_4,SeuratProject,267.0,46,1487.0,84,1754.0,130,APL124,NA,SampleTag07_hs,APL124,21,NaN,NaN,NaN,NaN,NaN
454298_4,SeuratProject,287.0,64,2110.0,85,2397.0,149,APL224,NA,SampleTag12_hs,APL224,32,NaN,NaN,NaN,NaN,NaN
815439_4,SeuratProject,280.0,63,939.0,81,1219.0,144,APL223,NA,SampleTag11_hs,APL223,20,NaN,NaN,NaN,NaN,NaN
53548_4,SeuratProject,257.0,56,2213.0,66,2470.0,122,APL223,NA,SampleTag11_hs,APL223,24,NaN,NaN,NaN,NaN,NaN
545100_4,SeuratProject,282.0,73,1511.0,79,1793.0,152,APL223,NA,SampleTag11_hs,APL223,20,NaN,NaN,NaN,NaN,NaN

In [13]:
# Display cell types in object
Triana_AML.obs['CellTypes'].value_counts()

CellTypes
4     9935
2     5106
6     2736
22    1793
25    1773
7     1373
24     968
3      933
0      913
21     890
5      877
13     690
8      552
31     440
20     416
18     322
27     261
30     230
28     190
32     179
33     175
1      156
26      94
17      92
15      89
14      64
10      62
29      58
39      55
11      25
23      24
37      23
36      21
35      19
9       16
16      13
19      10
41       4
42       3
34       2
40       2
12       1
38       1
Name: count, dtype: int64

In [14]:
cell_types_conversion = {
    4: "Classical Monocytes",
    2: "Myeloblasts",
    6: "Myelocytes",
    22: "CD4+ memory T cells",
    25: "CD8+ effector memory T cells",
    7: "HSCs & MPPs",
    24: "CD8+ central memory T cells",
    3: "Promyelocytes",
    0: "Lymphoid-primed multipotent progenitors",
    21: "CD8+CD103+ tissue resident memory T cells",
    5: "Conventional dendritic cell 2",
    13: "CD56dimCD16+ NK cells",
    8: "Non-classical monocytes",
    31: "Aberrant erythroid",
    20: "Mature naive B cells",
    18: "Nonswitched memory B cells",
    27: "GammaDelta T cells",
    30: "Late erythroid progenitor",
    28: "CD4+ naive T cells",
    32: "CD4+ cytotoxic T cells",
    33: "CD8+ naive T cells",
    1: "Conventional dendritic cell 1",
    26: "Class switched memory B cells",
    17: "Eosinophil-basophil-mast cell progenitors",
    15: "Erythro-myeloid progenitors",
    14: "Early erythroid progenitor",
    10: "Megakaryocyte progenitors",
    29: "Plasma cells",
    39: "Monocyte-like blasts",
    11: "Immature-like blasts",
    23: "CD11c+ memory B cells",
    37: "CD56brightCD16- NK cells",
    36: "NK T cells",
    35: "Mesenchymal cells_65_1",
    9: "Plasmacytoid dendritic cell progenitors",
    16: "CD69+PD-1+ memory CD4+ T cells",
    19: "Plasmacytoid dendritic cells",
    41: "Pre-B cells",
    42: "Immature B cells",
    34: "NK cell progenitors",
    40: "Pro-B cells",
    12: "Pre-pro-B cells",
    38: "Mesenchymal cells_65_2"
}

In [15]:
Triana_AML.obs['CellTypes'] = Triana_AML.obs['CellTypes'].map(cell_types_conversion)

In [16]:
Triana_AML.write('Triana_datasets/Triana_AML_celltype_updated.h5ad')

... storing 'orig.ident' as categorical
... storing 'Batch' as categorical
... storing 'ClusterID' as categorical
... storing 'Sample_Tag' as categorical
... storing 'Sample_Name' as categorical
... storing 'CellTypes' as categorical

In [17]:
Triana_AML.shape

(31586, 558)

In [18]:
Triana_AML.X.sum(axis = 1)

array([ 490.19196313,  360.84477601,  415.59819687, ..., -105.65026137,
       -144.76894629,  -49.20512604])

In [19]:
#if sparse.issparse(Triana_AML.X):
#    Triana_AML.X.data[Triana_AML.X.data < 0] = 0  # Clip negatives in sparse matrix
#else:
#    Triana_AML.X = np.where(Triana_AML.X < 0, 0, Triana_AML.X)  # Clip negatives in dense matrix
#    
#sc.pp.normalize_total(Triana_AML, target_sum=1e4)
#sc.pp.log1p(Triana_AML)

In [ ]:
np.log1p(Triana_AML)

In [ ]:
Triana_AML.X.sum(axis=1)[:10]  # Should be around 10,000
np.any(Triana_AML.X < 0)       # Should be False

array([490.19196313, 360.84477601, 415.59819687, 263.23271966,
       310.9262537 , 210.74680106, 117.28835656, 168.08834199,
       425.5111297 , 300.71921976])

In [ ]:
# Train the model using HistGradientBoostingClassifier
AML_model = celltypist.train(
	Triana_AML, 
	labels="CellTypes", 
	n_jobs=10, 
	feature_selection=True,
 	check_expression = True
  	#use_SGD=True,
   	#max_iter=1000,
    #mini_batch=True,
    #balance_cell_type=True
)

🍳 Preparing data before training
👀 Detected scaled expression in the input data, will try the .raw attribute

ValueError: 🛑 Invalid expression matrix, expect log1p normalized expression to 10000 counts per cell

In [ ]:
AML_model.write('celltypist_models/Triana_model.pkl')

In [ ]:
from celltypist import Model, models
import celltypist

In [ ]:
AML_model = models.Model.load('celltypist_models/Triana_model.pkl')

In [ ]:
SAB002 = sc.read('SAB002.h5ad')

In [ ]:
#if sparse.issparse(SAB002.X):
#    SAB002.X.data[SAB002.X.data < 0] = 0  # Clip negatives in sparse matrix
#else:
#    SAB002.X = np.where(SAB002.X < 0, 0, SAB002.X)  # Clip negatives in dense matrix
#    
#sc.pp.normalize_total(SAB002, target_sum=1e4)
#sc.pp.log1p(SAB002)

In [ ]:
np.log1p(Triana_AML)

In [ ]:
predictions = celltypist.annotate(SAB002, model = 'celltypist_models/Adult_Human_Bone_marrow.pkl', majority_voting = True, mode = 'prob match', p_thres = 0.5)

In [ ]:
predictions.predicted_labels

In [ ]:
predictions.predicted_labels["predicted_labels"].unique()

In [ ]:
import matplotlib.pyplot as plt

# Count frequency of each label
label_counts = predictions.predicted_labels["predicted_labels"].value_counts()
# Plotting the frequency histogram
plt.figure()
label_counts.plot(kind='bar')
plt.title('Frequency Histogram of Predicted Labels')
plt.xlabel('Label')
plt.ylabel('Frequency')
plt.xticks(rotation=45)
plt.tight_layout()
plt.grid(axis='y')
plt.show()

In [ ]:
label_counts